@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');

.App {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.App-header {
  background-color: black;
  height: 40px;
  padding: 20px;
  color: #33BEFF;
  display: flex;
  font-size: 45px;
  justify-content: space-between;
}

.App-logo {
  height: 60px;
  width: auto;
  left: 0;
  margin-right: -250px;
}

.App-title {
  font-size: 40px;
  margin-left: 20px;
  text-align: left;
}

.subtitles {
  right: 0;
  display: flex;
  margin: 0 30px 0 50px;
  font-size: 0.4em;
}

.subtitles a {
  text-decoration: none;
}

.App-subtitle {
  margin: 10px 20px 0 20px;
  text-decoration: none;
  color: #33BEFF;
}

.App-intro {
  font-size: large;
}

.App-body {
  /*display: flex;*/
  justify-content: center;
  text-align: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15vh;
}

.input-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.time-row {
  display: flex;
  align-self: center;
}

.timer h1 {
  font-size: 80px;
  padding: 20px;
}

.timer h2 {
  font-size: 30px;
  text-align: center;
}

.timer input {
  height: 90px;
  width: 300px;
  border-radius: 10px;
  font-size: 60px;
  text-align: center;
}

.timer-btns {
  display: flex;
  align-self: center;
}

button {
  height: 60px;
  width: 100px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.start-btn {
  background-color: #5AFF7F;
}

.pause-btn {
  background-color: #FF5733;
}

.reset-btn {
  background-color: #33BEFF;
}

.change-btn {
  background-color: lightgray;
  margin: 50px 0 0 30px;
}

.form {
  margin: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid black;
}

.form-left {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.form-right {
  grid-column-start: 2;
  grid-column-end: span 1;
  border-left: 1px solid black;
}

.interval {
  margin: 20px 0 0 20px;
}

.form-left input {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

.submit-btn {
  background-color: lightgray;
  align-self: center;
  height: 50px;
}

.route-color h3 {
  margin: 10px 0 0 20px;
}

.red-btn {
  background-color: red;
}

.yellow-btn {
  background-color: yellow;
}

.green-btn {
  background-color: #22ff00;
}

.blue-btn {
  background-color: #006bff;
}

.rest-btn {
  background-color: lightgray;
}

.selectedColor {
  border: 2px solid black;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
}
